table {
	border: 10px dotted indianred;
}
td:hover {
	background-color: khaki; 
	color: black;
}
tr, th {
	background-color: black;
	color: lemonchiffon;
}
tr, td {
	background-color: lemonchiffon;
	color: black;
}